.card {
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  background-color: rgb(241, 241, 241);
  color: rgb(50, 52, 51);
  text-align: center;
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
